<p style="color: green"><%= notice %></p>
<h1>Cars</h1>
<table class="table table-striped table-bordered table-hover">
  <% @entries.each do |entry| %>
    <thead class="thead-dark">
      <tr>    
        <th><%= render entry %></th>
        <th><%= link_to "Show", entry, class: "btn btn-secondary"%></th>    
      </tr>
  <% end %>   
  </thead>


